@model Taak2.Models.BureauDetailsViewModel

@{ 
    ViewData["Title"] = "Bureau Toevoegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bureau Toevoegen</h1>

<partial name="_BureauDetails" model="Model" />