@model Taak2.Models.BureauDetailsViewModel

@{ 
    ViewData["Title"] = "Bureau Wijzigen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bureau wijzigen</h1>

<partial name="_BureauDetails" model="Model" />